<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="profile.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arima&family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <button  style="grid-column: 1/2; background-color:transparent;border: none;z-index: 2;height:10px;padding-top: 5px;text-align: left;" onclick="history.back()"><img src="images/back.png" alt=""></button>
    <h1 style="padding-right: 10%;">Delux Dealer</h1>
    <div id="details">
        <h2>HI <%= user.name %></h2>
        <h3>details</h3>
    </div>
    <div id="order">
        <h2>Orders</h2>
    </div>
    <br>
    <form action="/logout?_method=DELETE" method="POST" style="grid-column: 4/6;text-align: center;">
    <button style="padding:8px 24px;font-size: 1.2rem;background-color:#6b5252 ;border: none;color: #e3dbdb;border-radius: 5px;">Logout</button>
    </form>
</body>
</html>